* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.product-preview {
  position: relative;
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  width: 60rem;
  /*padding: 1.5rem;*/
  transform: translate(-50%, -50%);
  border-radius: 1rem;

  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.2);

  overflow: hidden;

  display: flex;
  justify-content: space-between;
  gap: 0;
}

.product-image {
  /*flex: 0 1 auto;*/
  width: 50%;
  background-image: url("/images/image-product-desktop.jpg");
}

.product-description {
  width: 50%;
}
